<!-- Nova Conta Modal -->
<div class="modal fade" id="newAccountModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova Conta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="newAccountForm" method="POST" action="{{ url_for('main.add_account_ajax') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="account_name">Nome da Conta</label>
                        <input type="text" class="form-control" id="account_name" name="name" required tabindex="1">
                    </div>
                    <div class="form-group">
                        <label for="bank_id">Banco</label>
                        <div class="input-group">
                            <select class="form-select" id="bank_id" name="bank_id" required tabindex="2">
                                <option value="">Selecione um banco</option>
                                {% for bank in banks %}
                                <option value="{{ bank.id }}">{{ bank.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#newBankModal" tabindex="3">
                                <i class="bi bi-plus"></i> Novo
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="currency_id">Moeda</label>
                        <div class="input-group">
                            <select class="form-select" id="currency_id" name="currency_id" required tabindex="4">
                                <option value="">Selecione uma moeda</option>
                                {% for currency in currencies %}
                                <option value="{{ currency.id }}">{{ currency.code }} - {{ currency.name }}</option>
                                {% endfor %}
                            </select>
                            <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#newCurrencyModal" tabindex="5">
                                <i class="bi bi-plus"></i> Nova
                            </button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" tabindex="7">Cancelar</button>
                    <button type="submit" class="btn btn-primary" tabindex="6">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>