<!-- Novo Banco Modal -->
<div class="modal fade" id="newBankModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Novo Banco</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="newBankForm" method="POST" action="{{ url_for('main.add_bank_ajax') }}">
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <label for="bank_name" class="form-label">Nome do Banco</label>
                        <input type="text" class="form-control" id="bank_name" name="name" required tabindex="1">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" tabindex="3">Cancelar</button>
                    <button type="submit" class="btn btn-primary" tabindex="2">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>