<!-- Nova Categoria Modal -->
<div class="modal fade" id="newCategoryModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Nova Categoria</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form id="newCategoryForm" method="POST" action="{{ url_for('main.add_category_ajax') }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category_name">Nome</label>
                        <input type="text" class="form-control" id="category_name" name="name" required tabindex="1">
                    </div>
                    <div class="form-group">
                        <label for="category_description">Descrição</label>
                        <input type="text" class="form-control" id="category_description" name="description" tabindex="2">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" tabindex="4">Cancelar</button>
                    <button type="submit" class="btn btn-primary" tabindex="3">Adicionar</button>
                </div>
            </form>
        </div>
    </div>
</div>